@using HamedProject02.Helper
@model DataLayer02.Domain.Customer

@{
    ViewData["Title"] = "افزودن مشتری";
    Layout = "_myLayout";
}
  @*<main class="main">*@

        <header class="main-header clean-float">
            <div class="float-right">
                <div class="minimize-menu">
                    <img src="~/content/img/menu.png" />
                </div>
                <ul class="breadcrumb">
                    <li class="one"><a href="#" class="active">افزودن مشتری</a></li>
                </ul>
            </div>

            <div class="float-left">
                <time class="date-time"></time>
            </div>

        </header>
        <form asp-controller="Customer" asp-action="AddCustomer" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <section class="main-body">
            <fieldset class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-text">
                            <label> نام و نام خانوادگی </label>

                            <input asp-for="Name" type="text" />
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                    </div>
                  
                    <div class="col-md-6">
                        <div class="input-text">
                            <label> شماره تماس </label>

                            <input asp-for="PhoneNumber" type="text"/>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-text">
                            <label>آدرس </label>

                            <textarea asp-for="Adress"></textarea>

                        </div>
                    </div>
             

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <footer class="form-footer clean-float">
                            <div class="float-right">
                                <button type="submit" class="btn btn-success">ثبت مشتری </button>
                            </div>

                            <div class="float-left">
                                <a href="/Home/Index" class="link link-back">بازگشت</a>
                            </div>
                        </footer>

                    </div>
                </div>

            </fieldset>   


        </section>
        </form>
    @*</main>*@

@*<h1>Create</h1>*@

@*<h4>Customer</h4>*@
@*<hr />*@
@*<div class="row">*@
    @*<div class="col-md-4">*@
        @*<form asp-action="AddCustomer">*@
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            @*<div class="form-group">*@
                @*<label asp-for="Name" class="control-label"></label>*@
                @*<input asp-for="Name" class="form-control" />*@
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            @*</div>*@
            @*<div class="form-group">*@
                @*<input type="submit" value="Create" class="btn btn-danger" />*@
            @*</div>*@
        @*</form>*@
    @*</div>*@
@*</div>*@

@*<div>*@
    @*<a asp-action="Index">Back to List</a>*@
@*</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*<script src="~/content/scripts/jquery-3.1.1.min.js"></script>*@
    @*<script src="~/content/scripts/adminscript.js"></script>*@
