<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <link rel="stylesheet" href="content/css/admin/style.css">
</head>

<body>
    <aside class="sidebar">
        <header class="side-header">
            <div class="site-info">
                <div class="close-menu"><img src="content/img/close.png"></div>
                <a href="#"><img src="content/img/logo.png"></a>
            </div>
            <div class="user-control">
                <a href="#"><img src="content/img/user.png"></a>
                <a href="#"><img src="content/img/logout.png"></a>
            </div>
        </header>
        <nav class="side-body">
            <ul class="menu">
                <li class="active">
                    <a href="#">
                        <img src="content/img/dashboard.png">
                        <h3> داشبرد</h3>
                    </a>
                </li>
                <li class="has-sub">
                    <a>
                        <img src="content/img/barcode.png">

                        <h3>فاکتورها </h3>
                    </a>

                    <ul>
                        <li>
                            <a href="#"> افزودن فاکتور </a>
                        </li>
                        <li>
                            <a href="#"> لیست فاکتورها </a>
                        </li>

                    </ul>
                </li>
                <li class="has-sub">
                    <a>
                        <img src="content/img/users.png">

                        <h3> مشتری </h3>
                    </a>

                    <ul>
                        <li>
                            <a href="#"> افزودن مشتری </a>
                        </li>
                        <li>
                            <a href="#"> لیست مشتری ها </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#">
                        <img src="content/img/credit.png">

                        <h3> لیست بدهی ها </h3>
                    </a>


                </li>

            </ul>
  
        </nav>
    </aside>


    <main class="main">
        <header class="main-header clean-float">
            <div class="float-right">
                <div class="minimize-menu">
                    <img src="content/img/menu.png" />
                </div>
                <ul class="breadcrumb">
                    <li class="one"><a href="#" class="active">جزئیات فاکتور</a></li>
                </ul>
            </div>

            <div class="float-left">
                <time class="date-time">امروز یکشنبه ۴ اسفند ۱۳۹۸</time>
            </div>

        </header>

        <section class="main-body">
            <article class="form-holder">
                <ul class="details-item">
                    <li>    
                        <span> شماره فاکتور</span>
                        <div> 2510251100
                        </div>
                    </li>
                    <li>    
                        <span> نام مشتری </span>
                        <div> علی احمدی </div>
                    </li>
                  
                    <li>    
                        <span> مبلغ کل فاکتور</span>
                        <div> 250120000 ریال </div>
                    </li>
                    <li>    
                        <span> وضعیت فاکتور</span>
                        <div>     
                            <span class="color-danger">2500000 تومان مانده</span> 
                            <span class="color-success">2500000 تسویه شده</span>                             
                        </div>
                    </li>
                    <li>    
                        <span> لیست پرداختی </span>
                        <div> 
                            <div class="color-gray">
                                <span>چک: </span>
                                <span>25000000 ریال </span>
                            </div>
                            <div class="color-gray">
                                <span>نقدی: </span>
                                <span>2200000 ریال </span>
                            </div>
                        </div>
                    </li>
                    <li>    
                        <span> ویرایش </span>
                        <div> 
                            <a href="#">ویرایش فاکتور</a>
                        </div>
                    </li>
                </ul>
            </article> 

        </section>

    </main>



    <script src="content/scripts/jquery-3.1.1.min.js"></script>
    <script src="content/scripts/adminscript.js"></script>
</body>

</html>